/* Modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.6);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 14px;
    max-width: 350px;
    text-align: center;
    position: relative;
  }
  
  .modal-content input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 50px;
    border: 1px solid #ccc;
  }
  
  .modal-content button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(135deg, #00c6ff, #143d5c);
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  
  .close {
    position: absolute;
    right: 14px;
    top: 14px;
    font-size: 24px;
    cursor: pointer;
  }
  