* {
    padding: 0;
    margin: 0;
  }
  
  :root {
    --bg: #f6f6f6;
    --card: #ffffff;
    --muted: #777;
    --accent: #111;
    --radius: 16px;
  }
  
  * {
    box-sizing: border-box
  }
  
  body {
    font-family: Inter, system-ui, Arial, sans-serif;
    margin: 0;
    background: var(--bg);
    color: var(--accent);
    -webkit-font-smoothing: antialiased
  }
  
  /* header */
  .topbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0b0b0b;
    color: #fff;
    font-size: 13px;
    width: 100%;
    padding: 8px 16px;
    text-align: center;
    flex-wrap: wrap;
  }
  
  header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 28px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: 100px;
    border-radius: 0px 0px 50px 50px;
    animation: hidden 0.3s ease;
  }
  header.hidden {
    transform: translateY(-100%);
  }
  
  .logo {
    font-weight: 800;
    letter-spacing: 4px
  }
  
  nav {
    display: flex;
    gap: 18px;
    align-items: center
  }
  
  nav a {
    color: var(--muted);
    text-decoration: none;
    font-weight: 500
  }
  
  .icon-btn {
    border: 1px solid #e6e6e6;
    padding: 8px 12px;
    border-radius: 999px;
    background: var(--card)
  }
  
  .cart-icon {
    cursor: pointer;
    position: relative;
    font-size: 24px;
  }
  
  .cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background: red;
    color: #fff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }
  
  .cart-dropdown {
    display: none; /* hidden initially */
    position: absolute;
    right: 20px;
    top: 100px; /* adjust according to header */
    width: 260px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  
  .cart-dropdown div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .cart-dropdown button {
    border: none;
    background: none;
    cursor: pointer;
    color: #ff4b4b;
    font-size: 18px;
  }
  